<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <header>header</header>
        <aside>Aside</aside>
        <article>
            <span>Article</span>
            <div class="caja1">img</div>
            <div class="caja2">img</div>
            <div class="caja3">img</div>
        </article>
        <footer>footer</footer>
    </div>
</body>
</html>