.mickey {
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 32px auto;
}

.mickey-head {
    width: 140px;
    height: 130px;
    position: absolute;
    left: 100px;
    bottom: 10px;
    transform: translateX(-50%);
    background: gray;
    border-radius: 50%;
}

.mickey-ear {
   height: 80px;
   width: 80px;
   position: absolute;
   left: 0;
   top: 20px;
   background: black;
   border-radius: 50%;
}

.mickey-ear.right {
   left: 120px;
   right: 0;
   border-radius: 50%;
}


/* segundo css */
.ventanas{
    width: 940px;
    height: 300px;
    background-color: black;
}


.caja1{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 60px;
    right: 0;
}

.caja2{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 300px;
    right: 0;
}

.caja3{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 550px;
    right: 0;
}
.caja4{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 800px;
    right: 0;
}
.caja5{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 60px;
    right: 0;
}
.caja6{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 300px;
    right: 0;
}
.caja7{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 550px;
    right: 0;
}
.caja8{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 800px;
    right: 0;
}