
* {
  @include margins(0);
  @include paddings(0);
}

.enlaces {
  background-color: #d1d1d1;
  @include paddings(8px);
  border-radius: 8px;
  width: 600px;
  @include margenes(20px, 20px, 0, 0);
}

.enlaces li {
  list-style: none;
  @include paddings(4px);
}

.enlaces a {
  color: #272727;
}

.enlaces ul {
  border: 1px dashed #272727;
}

.docsContainer {
  width: 600px;
  margin-left: auto;
  @include margenes(0, 0, auto, auto);
}

.bloqueDocumentacion {
  @include margenes(0, 8px, 0, 0);
}

.docItem {
  background-color: #d3d3d3;
  @include paddings(8px);
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}

.docItemTitle,
.docItemDescription,
.codeExampleContainer {
  @include margins(8px);
}

.codeExample {
  background-color: #000;
  height: 25px;
  color: #72ff72;
  @include paddings(8px);
  border-radius: 8px;
  @include margins(8px);
}

.docItem p:nth-child(2) {
  color: #917c7c;
}

.docItem h3 {
  @include margins(8px);
}
